* {
    margin: 0px;
    padding: 0px;
}

#wrapper {
    width: 1000px;
    height: 4000px;
    margin: auto;
    background-color: whitesmoke;
    padding: 10px;
}

#wrapper h1 {
    margin-left: 41%;
    margin-bottom: 10px;
}

img {
    margin-left: 405px;
    margin-bottom: -4px;
}

