.PersonCard {
    text-align: center;
    border: 1px black;
    height: 200px;
    position: relative;
    border: 3px solid black;
}
.PersonCardStyleUL {
    text-align: left;
    /* display: inline-block; */
    list-style: none;
    border: 1px black;
}

.PersonCardButton {
    display: block;
    margin: 0 40px;
}