.productForm label {
    color: grey;

}

.productForm p {
    background-color: lightgrey;
    width: 350px;
    height: 40px;
    vertical-align: middle;
    line-height: 40px;
}

.titleField {
    margin-left: 130px;
}

.priceField {
    margin-left: 125px;
}

.descField {
    margin-left: 79px;
}   

.btn-submit {
    justify-content: left;
    display: inline-block;
}