.navbar{
    display: flex;
    align-items: center;
    width: 850px;
	padding: 5px;
    background-color: rgb(100, 149, 237);  
    margin-left: 50px;
}
.navbar ul {
	/* padding: 0; */
	list-style: none;
	display: flex;
	flex: 1 0 0%;
	justify-content: space-between;
}
.navbar ul a {
	display: block;
	padding: 5px 10px;
}

.navbar a:link {
    text-decoration: none;
    color: white;
}

.navbar a:visited {
    text-decoration: none;
    color: white;
}