*{ 
    margin: 0px;
    padding: 0px;
}
#wrapper{
    width: 950px;
    background-color: #1B335D;
    margin: 0px auto;
    padding: 10px;
}
#header{
    min-height: 50px;
    background-color: #CF3036;
    margin: 10px;
    border-radius: 25px;
    padding: 10px;
    vertical-align: middle;
    line-height: 50px;
    color: white;
}
#navigation{
    min-height: 300px;
    width: 165px;
    background-color: #297D8C;
    color: white;
    display: inline-block;
    margin: 10px;
    border-radius: 25px;
    padding: 10px;
}

#navigation p {
    color: #5ED5D8;
}

li a {
    color: #5ED5D8;
}

.link-indent-1 {
    margin-left: 18px;
}

.link-indent-2 {
    margin-left: 40px;
}

.main{
    color: white;
}

#main_content{
    min-height: 400px;
    width: 700px;
    background-color: rgb(14,24,34);
    vertical-align: top;
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 25px;
    padding: 10px;
}

#foot {
    background-color: grey;
    min-height: 40px;
    border-radius: 25px;
    vertical-align: middle;
    line-height: 40px;
    padding-left: 10px;
    color: white;
}
