.showAllProducts h2 {
    text-align: center;
}

.showAllProducts p {
    background-color: none;
}

.singleProduct {
    background-color: lightblue;
}

.btn-delete {
    background-color: red;
    margin-left: 65px;
}